* {
    margin: 0px;
    padding: 0%;
    text-align: center;
    
}


body {
    background-image: url("Me\ with\ mask.jpg");
    background-size: 400px, 200px;
    
}

h1 {
    background-color: #fd9068e8;
    color: antiquewhite;
    height: 5rem;
    line-height: 5rem;
    border-radius: 15px;
    
}

.choice {
    height: 120px;
    width: 120px;
    border-color: rgba(61, 59, 59, 0.534);
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    border-color: rgba(46, 45, 45, 0.603);
    border-style: solid;
    border-radius: 25%;
}

.choice:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 39%);
    border-radius: 25%;
}


img {
    height: 110px;
    width: 110px;
    object-fit: cover;
    border-radius: 50%;

}

.choices {
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 21px;
}

.score-board {
    color: bisque;
    background-color: rgb(43, 226, 217, 25%);
    border-color: black;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 400px;
    gap: 115px;
    border-radius: 120px;
    margin-top: 60px;
}


#user-score, #Himanshu-score {
font-size: 4rem;
color: rgb(231, 163, 37);
} 
#user-score {
    color: black;
}

#HN {
    color: rgb(231, 163, 37);
}

.msg-container {
    margin-top: 5rem;
    
}
#msg {
    
    background-color: rgb(242 81 81 / 91%);
    color: rgb(243 236 72);
    line-height: 2rem;
    height: 3rem;
    font-size: 2rem;
    margin-top: 20px
            /* father we can say*/
    ;/* boarder shape chokor ho jati hai*/
    /*text-underline have to do*/
    border-radius: 120px;
}


#demo {
    font-size: 70px;
    color: #0dff05;
    background-color: rgb(58 58 110 / 51%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;   
}
#Apnascore{
color: rgb(226, 214, 43);
background-color: rgb(255, 255, 255, 20%);
margin-top: 10px;

}

#HNbutton {
color: rgb(0, 0, 0);
font-size: 25px;
width: 150px;
border-radius: 190px;
margin-top: 20px;
}
#HNbutton:hover {
    cursor: pointer;
}


@media only screen and (max-width: 414px) {
    *{
        visibility: collapse;
        visibility: visible;
    }
}