* {
    margin: 0%;
    padding: 0%;
    text-align: center;
    
}


body {
    background-image: url("Me\ with\ mask.jpg");
    background-size: 800px, 800px;
}

h1 {
    background-color: rgba(245, 51, 51, 0.726);
    color: antiquewhite;
    height: 5rem;
    line-height: 5rem;
    
}

.choice {
    height: 170px;
    width: 170px;
    border-color: rgba(61, 59, 59, 0.534);
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    border-color: rgba(46, 45, 45, 0.603);
    border-style: solid;
    border-radius: 25%;
}

.choice:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 39%);
    border-radius: 25%;
}


img {
    height: 150;
    width: 150;
    object-fit: cover;
    border-radius: 50%;

}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.score-board {
    color: bisque;
    background-color: rgb(43, 226, 217, 25%);
    border-color: black;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 400px;
    gap: 4rem;
    border-radius: 120px;
      
}


#user-score, #Himanshu-score {
font-size: 4rem;
color: rgb(231, 163, 37);
} 
#user-score {
    color: black;
}

#HN {
    color: rgb(231, 163, 37);
}

.msg-container {
    margin-top: 5rem;
    
}
#msg {
    
    background-color: rgba(223, 200, 200, 0.911);
    color: rgb(59, 46, 46);
    line-height: 2rem;
    height: 3rem;
    font-size: 2rem;
    display: inline;
            /* father we can say*/
    ;/* boarder shape chokor ho jati hai*/
    /*text-underline have to do*/
    border-radius: 120px;
}


#demo {
    color: beige;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;   
}
#Apnascore{
color: rgb(226, 214, 43);
background-color: rgb(255, 255, 255, 20%);
margin-top: 120px;

}

#HNbutton {
color: rgb(0, 0, 0);
font-size: 25px;
width: 150px;
border-radius: 190px;
margin-top: 60px;
}
#HNbutton:hover {
    cursor: pointer;
}


